/* ========== VARIABLES ========== */
:root{

--primary-font: "Roboto", sans-serif;
--secondary-font: "Raleway", sans-serif;

--primary-brand-color: #4D5AE5;
--pressed-state-color: #404BBF;
--overlays-shadows-headings-color: #2E2F42;
--success-color: #31D0AA;
--body-text-color: #434455;
--subtitle-text-color: #8E8F99;
--first-accent-color:#E7E9FC;
--light-mode-backgrounds-color: #F4F4FD;
--first-background-color: #ffffff;
--modal-background-color: #FCFCFC;

}
/* ========== /VARIABLES ========== */

/* ========== COMMON STYLES ========== */

body {
    font-family: var(--primary-font);
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
    background-color: var(--first-background-color);
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* ========== /COMMON STYLES ========== */

/* ========== LOGO ========== */

.logo {
        font-family: var(--secondary-font);
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--primary-brand-color);;
}

.logo-accent-text {
color: var(--overlays-shadows-headings-color);
}

footer .logo-accent-text {
    color: var(--light-mode-backgrounds-color);
}

/* ========== /LOGO ========== */

/* ========== HEADER ========== */
.nav-link {
        font-weight: 500;
        line-height: 1.5;
        color: var(--body-text-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--pressed-state-color);
}

.header-contacts {
    font-style: normal;
}

.contacts-link {
        line-height: 1.5;
        color: var(--body-text-color)
}
/* ========== /HEADER ========== */

/* ========== FOOTER ========== */

.footer {
    background-color: var(--overlays-shadows-headings-color)
}

.footer-text {
        font-style: normal;
        line-height: 1.5;
        color: var(--light-mode-backgrounds-color);
}
/* ========== /FOOTER ========== */

/* ========== HERO SECTION ========== */
.hero-section {
    background-color: var(--overlays-shadows-headings-color);
}

.hero-title {
        text-align: center;
        font-size: 56px;
        line-height: 1.07;
        color: var(--first-background-color);
}

.hero-btn {
    padding: 16px 32px;
    border-radius: 4px;
    border-color: transparent;
        background: var(--primary-brand-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: var(--first-background-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state-color);
}
/* ========== /HERO SECTION ========== */

/* ========== SECTION TEXT ========== */
.section-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--overlays-shadows-headings-color);
}

.item-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        color: var(--overlays-shadows-headings-color);
}

.item-text {
    font-style: normal;
   line-height: 1.5;
    color: var(--body-text-color);
}

/* ========== /SECTION TEXT ========== */